# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs code folder
.vscode/
01_Learn_The_Basics/*
02_Sorting_Techniques/*
03_Arrays/*
05_Strings/*
07_Recursion/*
!*.cpp
!*.h
*a.out
*main*
!*main.cpp*

